body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    color:rgb(0, 0, 0);
    justify-content:space-between;
    align-items: center;
    margin: 0 120px;
}
.mary{
    color:rgb(9, 8, 8) ;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: rgb(255, 106, 0);
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 52px;  
}
nav a{
    text-decoration: 0;
    color:rgb(87, 46, 2);
}
.btn-primary{
    background-color: orange;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}
.header{
    background-color: #fff8f3 ;
}
.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
}
.banner .profile-pic{
    width: 500px;
}


